<ion-view view-title="課程異動">
  <ion-content>
	<div class="card" ng-repeat="item in courses">
	  <div class="item item-divider item-text-wrap">
	    異動屬性：{{item.ChangeState}}
	  </div>
	  <div class="item item-text-wrap">
	    <div>
	    	異動課程：{{item.CourseName}}/{{item.TeacherName}}/{{item.ClassName}}
	    </div>
	    <div>
	    	異動說明：{{item.ChangeExplain}}
	    </div>
	  </div>
	</div>
  <div style="margin-top:20px">
    <h3 ng-if="noData" class="center">目前無課程異動資料</h3>
  </div>
  </ion-content>
</ion-view>
