<ion-modal-view>
  <ion-header-bar is-enabled="false">
    <h1 class="title">行動公職王</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePage('P')">Close</button>
    </div>
  </ion-header-bar>
  <div class="containet" >
      <ion-content scroll="true" overflow-scroll="true">
        <iframe data-tap-disabled="true" src="http://m.public.com.tw/" ></iframe>
        <!-- <div ng-include="'http://m.public.com.tw/'"> </div> -->
        <!-- <iframe src="http://xkcd.com" style="width:100%;height:100%"></iframe> -->
      </ion-content>
  </div> 
</ion-modal-view>