<ion-modal-view>
  <ion-header-bar is-enabled="false">
    <h1 class="title">公職測驗王</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePage('Y')">Close</button>
    </div>
  </ion-header-bar>
  <div class="containet" style="min-height: 100%;">
      <ion-content scroll="true" overflow-scroll="true" class="has-header padding" allowfullscreen>
        <iframe src="http://www.youtest.com.tw/" style="min-height: 100%;"></iframe>
      </ion-content>
  </div> 
</ion-modal-view>